

@{
    ViewData["Title"] = "Звіти";
}

<h2>Звіти</h2>

<p>
    <ul>
        <li>
            <a asp-action="Report1">Кількість записів по місяцям</a>
        </li>
        <li>
            <a asp-action="Report2">Кількість записів по лікарям</a>
        </li>
    </ul>
</p>

